<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="com.whck.rainer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.whck.rainer.Perspective"
            id="com.whck.rainer.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.whck.rainer.ZoneListView"
            fastViewWidthRatio="0.4"
            icon="images/tree.png"
            id="com.whck.rainer.zonelistview"
            name="区域列表"
            restorable="true">
      </view>
      <view
            class="com.whck.rainer.ShowView"
            fastViewWidthRatio="0.6"
            icon="images/show.png"
            id="com.whck.rainer.showview"
            name="实时显示"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="com.whck.rainer.zonelistview"
               minimized="false"
               relationship="left"
               relative="com.whck.rainer.showview"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.whck.rainer.showview"
               minimized="false"
               ratio="0.3"
               relationship="right"
               relative="com.whck.rainer.zonelistview"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
 
   <extension
         point="org.eclipse.ui.commands">
           <category
            id="com.whck.rainer.category.zone"
            name="zone menu category">
      </category>
      <command
            categoryId="com.whck.rainer.category.zone"
            id="com.whck.rainer.command.zone.delete"
            name="zdelete">
      </command>
      <command
            categoryId="com.whck.rainer.category.zone"
            id="com.whck.rainer.command.zone.modify"
            name="zmodify">
      </command>
      <command
            categoryId="com.whck.rainer.category.tool"
            id="com.whck.rainer.command.zone.add"
            name="zadd   ">
      </command>
      <category
            id="com.whck.rainer.category.tool"
            name="tool menu category">
      </category>
      <category
            id="com.whck.rainer.category.device"
            name="device menu category">
      </category>
      <command
            categoryId="com.whck.rainer.category.device"
            id="com.whck.rainer.command.device.modify"
            name="dmodify">
      </command>
      <command
            categoryId="com.whck.rainer.category.device"
            id="com.whck.rainer.command.device.add"
            name="dadd">
      </command>
      <command
            categoryId="com.whck.rainer.category.zone"
            id="com.whck.rainer.command.device.delete"
            name="ddelete">
      </command>
      <category
            id="com.whck.rainer.category.variable"
            name="variable menu category">
      </category>
      <command
            categoryId="com.whck.rainer.category.device"
            id="com.whck.rainer.command.variable.add"
            name="vadd">
      </command>
      <command
            categoryId="com.whck.rainer.category.variable"
            id="com.whck.rainer.command.variable.modify"
            name="vmodify">
      </command>
      <command
            categoryId="com.whck.rainer.category.variable"
            id="com.whck.rainer.command.variable.delete"
            name="vdelete">
      </command>
      <command
            categoryId="com.whck.rainer.category.chart"
            id="com.whck.rainer.command.chart"
            name="showchart">
      </command>
      <category
            id="com.whck.rainer.category.chart"
            name="chart category">
      </category>
      <command
            categoryId="com.whck.rainer.category.zone"
            id="com.whck.rainer.command.set"
            name="set">
      </command>
   </extension>
     <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.whck.rainer.zonelistview?after=additions">
         <command
               commandId="com.whck.rainer.command.zone.delete"
               icon="icons/delete.gif"
               label="删除分区"
               style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="com.whck.rainer.model.Zone">
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
         </command>
         <command
               commandId="com.whck.rainer.command.zone.modify"
               icon="icons/modify.gif"
               label="修改分区"
               style="push">
             <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="com.whck.rainer.model.Zone">
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
         </command>
         <command
               commandId="com.whck.rainer.command.device.delete"
               icon="icons/delete.gif"
               label="删除设备"
               style="push">
                <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="com.whck.rainer.model.Device">
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
         </command>
         <command
               commandId="com.whck.rainer.command.device.modify"
               icon="icons/modify.gif"
               label="修改设备"
               style="push">
                <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="com.whck.rainer.model.Device">
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
         </command>
         <command
               commandId="com.whck.rainer.command.device.add"
               icon="icons/add.gif"
               label="添加设备"
               style="push">
                <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="com.whck.rainer.model.Zone">
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
         </command>
         <command
               commandId="com.whck.rainer.command.variable.add"
               icon="icons/add.gif"
               label="添加变量"
               style="push">
                <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="com.whck.rainer.model.Device">
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
         </command>
         <command
               commandId="com.whck.rainer.command.variable.modify"
               icon="icons/modify.gif"
               label="修改变量"
               style="push">
                <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="com.whck.rainer.model.Variable">
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
         </command>
         <command
               commandId="com.whck.rainer.command.variable.delete"
               icon="icons/delete.gif"
               label="删除变量"
               style="push">
                <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="com.whck.rainer.model.Variable">
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.whck.rainer.zonelistview?after=additions">
         <command
               commandId="com.whck.rainer.command.zone.add"
               icon="images/add.png"
               label="     "
               style="push"
               tooltip="添加区域">
                <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="com.whck.rainer.model.Zone">
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
         </command>
         <command
               commandId="com.whck.rainer.command.chart"
               icon="images/plot.png"
               style="push"
               tooltip="曲线图">
         </command>
         <command
               commandId="com.whck.rainer.command.set"
               icon="images/set.png"
               style="push"
               tooltip="雨型匹配">
         </command>
      </menuContribution>
   </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              class="com.whck.rainer.handler.ZoneDeleteHandler"
              commandId="com.whck.rainer.command.zone.delete">
        </handler>
        <handler
              class="com.whck.rainer.handler.ZoneAddHandler"
              commandId="com.whck.rainer.command.zone.add">
        </handler>
        <handler
              class="com.whck.rainer.handler.ZoneModifyHandler"
              commandId="com.whck.rainer.command.zone.modify">
        </handler>
        <handler
              class="com.whck.rainer.handler.DeviceDeleteHandler"
              commandId="com.whck.rainer.command.device.delete">
        </handler>
        <handler
              class="com.whck.rainer.handler.DeviceAddHandler"
              commandId="com.whck.rainer.command.device.add">
        </handler>
        <handler
              class="com.whck.rainer.handler.VariableAddHandler"
              commandId="com.whck.rainer.command.variable.add">
        </handler>
        <handler
              class="com.whck.rainer.handler.VariableModifyHandler"
              commandId="com.whck.rainer.command.variable.modify">
        </handler>
        <handler
              class="com.whck.rainer.handler.VariableDeleteHandler"
              commandId="com.whck.rainer.command.variable.delete">
        </handler>
        <handler
              class="com.whck.rainer.handler.ShowChartHandler"
              commandId="com.whck.rainer.command.chart">
        </handler>
        <handler
              class="com.whck.rainer.handler.DeviceModifyHandler"
              commandId="com.whck.rainer.command.device.modify">
        </handler>
        <handler
              class="com.whck.rainer.handler.SetHandler"
              commandId="com.whck.rainer.command.set">
        </handler>
     </extension>
     <extension
           id="product"
           point="org.eclipse.core.runtime.products">
        <product
              application="com.whck.rainer.application"
              name="降雨器">
           <property
                 name="applicationCSS"
                 value="platform:/plugin/com.whck.rainer/rainer.css">
           </property>
           <property
                 name="appName"
                 value="降雨器">
           </property>
           <property
                 name="windowImages"
                 value="alt_window_16.gif,alt_window_32.gif">
           </property>
        </product>
     </extension>
     <extension
           point="org.eclipse.ui.splashHandlers">
        <splashHandler
              class="com.whck.rainer.splashHandlers.BrowserSplashHandler"
              id="com.whck.rainer.splashHandlers.browser">
        </splashHandler>
     </extension>
</plugin>
